/*############################### Defaults ##################################*/
nav,
header,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 10px;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

figure {
  margin: 1em 40px;
}

h3 {
  color: crimson;
}

label {
  font-size: 20px;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  font-family: "Arial", "Halvetica", sans-serif;
  background-color: #f5f6f7;
}

.container-fluid {
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
.animation-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
}
.animate-right {
  position: relative;
  animation: animateright 3s;
}

@keyframes animateright {
  from {
    right: -500px;
    opacity: -1;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.animate-left {
  position: relative;
  animation: animateleft 3s;
}
@keyframes animateleft {
  from {
    left: -500px;
    opacity: -1;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.animate-zoom {
  animation: animatezoom 3s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.animate-bottom {
  position: relative;
  animation: animatebottom 3s;
}
@keyframes animatebottom {
  from {
    bottom: -500px;
    opacity: -2;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.animate-input {
  transition: width 0.4s ease-in-out;
}
.animate-input:hover {
  width: 50% !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row::after {
  display: table;
  content: "";
  clear: both;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.material-icons.md-24 {
  font-size: 24;
}
.material-icons.md-dark {
  color: white;
}

/*############################# Background Image ############################*/
.bg-image,
.single-banner {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
}

.single-banner {
  background: rgba(0, 0, 0, 0.7);
}

/*#################################### Nav Bar ##############################*/
nav {
  width: 100%;
  margin: 0;
}

nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav li {
  list-style: none;
  float: left;
}

.topnav li a {
  text-decoration: none;
  padding: 14px;
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  margin: 16px;
  font-size: 15px;
  color: crimson;
}

.topnav li.topnav-right {
  float: right;
}

.topnav li a:hover,
.topnav li a:focus {
  color: #fff;
}

.topnav li.dropdownIcon {
  display: none;
}

/*################################# Header Text ################################*/
.banner-text {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: block;
  overflow: hidden;
  margin: auto;
  width: 50%;
  padding-top: 200px;
}

.banner-text em {
  font-size: 60px;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
}

.banner-text p {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.banner-btn a {
  text-decoration: none;
  background: crimson;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  margin-top: 70px;
}

.banner-btn a:hover {
  background-color: #008cba;
  transform: translateY(-5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
}
.banner-btn img {
  display: inline-block;
}

/*############################# Sections  Projects##################################*/
div.section-1,
div.section-2,
div.section-3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 50px;
  color: crimson;
}

div.rightside-col p {
  font-size: 18px;
}

div.rightside-col a {
  text-decoration: none;
  color: crimson;
}

.imgContainer img {
  height: 600px;
  display: block;
  margin: auto;
}

/* PROJECT SECTION */

.bg-color {
  background-color: #f7f7f7;
}
.project-container {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 500px;
  width: 90%;
}
.project-container:hover {
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.project-container img {
  width: 100%;
  display: block;
}

.text-card {
  text-align: center;
  margin: 10px;
  background-color: #fff;
}
.text-card h4 {
  display: inline-block;
  flex-direction: row;
}
.text-card p {
  margin: 20px;
}
.text-card a {
  text-decoration: none;
}
.text-card a:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.btn {
  padding: 10px 35px;
  color: crimson;
  border-radius: 4px;
  border-color: crimson;
  font-size: 18px;
  margin-left: 40px;
  display: inline-block;
  background-color: white;
  border-image: none;
  border-style: solid;
}

/* SKILLS SECTION */
.big-deep-pink {
  background: linear-gradient(to bottom, #cc2b5e 0%, #753a88 100%);
}

ul.softskill,
ul.technicalskill,
ul.hardskill {
  font-size: 15px;
}

ul.hardskill li,
ul.technicalskill li,
ul.softskill li {
  margin: 0;
  color: #fff;
}
ul.hardskill h3,
ul.technicalskill h3,
ul.softskill h3,
.section-3 h2 {
  color: #141414;
}

/*################################### Message #############################*/
#msg-bgcolor {
  background-color: #eee;
}

.Msg h2 {
  color: crimson;
  text-align: center;
}

input[name="Fname"],
input[name="Lname"],
input[name="email"] {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border-radius: 7px;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-color: crimson;
  border-image: none;
  border-style: solid;
}

textarea {
  width: 400px;
  height: 300px;
  padding: 10px;
  font-size: 18px;
  border-radius: 7px;
  border-color: crimson;
  border-image: none;
  border-style: solid;
}

input[type="submit"] {
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 4px;
  background-color: crimson;
  color: white;
  border-style: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  overflow: hidden;
}

.msg-textarea textarea {
  display: block;
  margin: auto;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #008cba;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ############################## Back top ############################ */

div.backtop a {
  float: right;
  text-decoration: none;
  background-color: crimson;
  color: #fff;
  padding: 14px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

div.backtop a:hover {
  background-color: #008cba;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
}

/* ######################### Footer ############################### */
footer.footsy {
  background-color: #221f1f;
  padding-bottom: 200px;
}

footer.footsy h5 {
  color: crimson;
  font-size: 30px;
  text-align: center;
}

footer.footsy ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin-left: 45%;
}

footer.footsy ul li a {
  color: #6f6f6f;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.5;
}

footer.footsy ul li a:hover {
  color: #008cba;
}

footer.footsy ul li a:visited {
  color: red;
}

.address-bar {
  background-color: #141414;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/*################################## Mobile #############################*/
@media screen and (max-width: 1000px) {
  /* ############ Mobile defaults ############# */
  div.leftside-col {
    margin: 25px;
  }

  .container-fluid {
    margin: 0;
  }

  img {
    height: auto;
  }

  .col-6,
  .col-4 {
    width: 50%;
    margin: 0;
  }

  /* ################# Biography section ############### */
  .imgContainer img {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: auto;
  }

  div.rightside-col p {
    text-align: left;
    width: 100%;
    margin: 0;
    height: auto;
    font-size: 14px;
  }

  /* ######################## Skills section ########################### */

  ul.hardskill,
  ul.softskill,
  ul.technicalskill {
    margin: 0;
    font-size: 15px;
  }

  /* ######################## Message section ######################### */
  .Msg {
    display: block;
    margin: auto;
    position: relative;
  }
}

/* ########################## Media query ############# */
@media screen and (max-width: 680px) {
  .topnav li:not(:nth-child(1)) {
    display: none;
  }

  .container-fluid {
    margin: 0;
  }
  .animate-bottom,
  .animate-right,
  .animate-input,
  .animate-zoom,
  .animate-left {
    animation: none;
    transition: none;
    transform: none;
  }
  .animate-input:hover {
    width: 100% !important;
  }

  /* ##################### Nav bar ############### */
  nav ul {
    height: auto;
  }

  .topnav li.dropdownIcon {
    display: block;
    float: right;
  }

  .topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .topnav li a:hover {
    border-bottom: none;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive li {
    display: inline;
    float: none;
  }

  .topnav.responsive li a {
    text-align: left;
    display: block;
  }

  /*    Main header content*/
  .contentContainer {
    padding: 0;
  }

  .banner-text {
    display: block;
    margin: auto;
    padding: 25px;
    width: 100%;
    text-align: left;
  }

  .banner-text p {
    font-size: 22px;
  }

  .banner-btn {
    text-align: center;
  }

  .single-banner,
  .bg-image {
    min-height: 550px;
    display: block;
  }

  /* ###################### Columns grid ################### */
  .col-6,
  .col-7,
  .c0l-5,
  .col-4 {
    width: 100%;
    margin: 0;
  }

  /* ##################### Biography section ########################### */
  div.leftside-col,
  div.rightside-col {
    margin: 25px;
    padding: 0;
  }

  .imgContainer img {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  /* ##################### Skills section ######################## */
  div.section-2,
  div.section-1,
  div.section-3 {
    margin: 25px;
    margin-bottom: 100px;
  }
  .project-container {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 80%;
  }

  .project-container img {
    height: auto;
  }
  .text-card h4 {
    text-align: center;
  }
  .btn {
    padding: 5px 15px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  ul.softskill,
  ul.hardskill,
  ul.technicalskill {
    margin: 25px;
    font-size: 14px;
    list-style: square;
  }
  .hardskill h3,
  .technicalskill h3,
  .softskill h3 {
    font-size: 20px;
  }

  /* ########################## Back to top ############################### */
  div.backtop a {
    float: inherit;
    display: block;
    text-align: center;
  }

  /* ########################### Message section ############################ */

  input[name="Fname"],
  input[name="Lname"],
  input[name="email"] {
    width: 100%;
    font-size: 15px;
  }

  .Msg {
    padding: 0;
    margin: 25px;
  }

  textarea {
    width: 100%;
    font-size: 15px;
  }

  /* ############################# footer section ########################## */
  footer.footsy ul {
    margin: auto;
    text-align: center;
  }
}
